<!DOCTYPE html>
<html lang="en">
<head>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}
</style>
</head>
<body>

<!-- Header -->
<div class="first">
<header class="w3-container w3-center" style="padding:128px 16px">
  <h1 class="w3-margin w3-x xlarge" id="x">
    Unlimited movies, TV shows, and more.</h1>
  <p class="w3-xlarge">Watch anywhere. Cancel anytime.</p>
  <button class="w3-button w3-red w3-padding-large w3-large w3-margin-top">Login</button>
</header>
</div>
<div class="k">
 <button class="kk"></button>
</div>
<!-- First Grid -->
<div class="w3-row-padding w3-padding-64 w3-container w3-black">
  <div class="w3-content">
    <div class="w3-twothird">     
      <h1 class="w3-padding-32 w3-xxxlarge" id="x">Enjoy on your TV.</h1>

      <p class="w3-xlarge" >Watch on Smart TVs, Playstation, Xbox, Chromecast,<br> Apple TV, Blu-ray players, and more.</p>
    </div>

    <div class="w3-third w3-center">
      <i class="w3-padding-64 w3-text-red">
        <img id="sora" src="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/tv.png">
      </i>
    </div>
  </div>
</div>
<div class="k">
  <button class="kk"></button>
 </div>
<!-- Second Grid -->
<div class="w3-row-padding w3-black w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-third w3-center">
      <i class="w3-padding-64 w3-text-red ">
        <img id="sora2" src="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/mobile-0819.jpg">
      </i>
    </div>

    <div class="w3-twothird">
      <h1 class="w3-padding-32 w3-xxxlarge" id="x">Download your shows to <br> watch offline.</h1>

      <p class="w3-xlarge">Save your favorites easily and always have <br> something to watch.</p>
    </div>
  </div>
</div>

<div class="k">
  <button class="kk"></button>
 </div>

 <div class="w3-row-padding w3-padding-64 w3-container w3-black">
  <div class="w3-content">
    <div class="w3-twothird">     
      <h1 class="w3-padding-32 w3-xxxlarge" id="x">Watch everywhere.</h1>

      <p class="w3-xlarge" >Stream unlimited movies and TV shows on your <br> phone, tablet, laptop, and TV without paying more.</p>
    </div>

    <div class="w3-third w3-center">
      <i class="w3-padding-64 w3-text-red">
        <img id="sora" src="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/device-pile.png">
      </i>
    </div>
  </div>
</div>

</body>
</html>